/* 0.Overall */

@font-face {
    font-family: mtavruli;
    src: url(./fonts/bpg_extrasquare_mtavruli_2009.ttf);
}

:root {

    --zoma_700: 700px;
    --zoma_554: 554px;
    --zoma_500: 500px;
    --zoma_300: 300px;
    --zoma_200: 200px;
    --zoma_180: 180px;
    --zoma_120: 120px;
    --zoma_100: 100px;
    --zoma_70: 70px;
    --zoma_55: 55px;
    --zoma_50: 50px;
    --zoma_40: 40px;
    --zoma_35: 35px;
    --zoma_30: 30px;
    --zoma_20: 20px;
    --zoma_15: 15px;
    --zoma_10: 10px;
    --zoma_5: 5px;
    --zoma_1: 1px;
    --zoma_0: 0;
}

@media only screen and (min-width: 3840px) {
    :root {
        --zoma_700: 1008px;
        --zoma_554: 797.76px;
        --zoma_500: 720px;
        --zoma_300: 432px;
        --zoma_200: 288px;
        --zoma_180: 259.2px;
        --zoma_120: 172.8px;
        --zoma_100: 144px;
        --zoma_70: 100.8px;
        --zoma_55: 79.2px;
        --zoma_50: 72px;
        --zoma_40: 57.6px;
        --zoma_35: 50.4px;
        --zoma_30: 43.2px;
        --zoma_20: 28.8px;
        --zoma_15: 21.6px;
        --zoma_10: 14.4px;
        --zoma_5: 7.2px;
        --zoma_1: 1.44px;
        --zoma_0: 0;
    }
}

@media only screen and (min-width: 1921px) and (max-width: 3839px) {
    :root {
        --zoma_700: 840px;
        --zoma_554: 664.8px;
        --zoma_500: 600px;
        --zoma_300: 360px;
        --zoma_200: 240px;
        --zoma_180: 216px;
        --zoma_120: 144px;
        --zoma_100: 120px;
        --zoma_70: 84px;
        --zoma_55: 66px;
        --zoma_50: 60px;
        --zoma_40: 48px;
        --zoma_35: 42px;
        --zoma_30: 36px;
        --zoma_20: 24px;
        --zoma_15: 18px;
        --zoma_10: 12px;
        --zoma_5: 6px;
        --zoma_1: 1.2px;
        --zoma_0: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    :root {
        --modzraobis_procenti_0: 0%;
        --modzraobis_procenti_20: 15%;
        --modzraobis_procenti_40: 25%;
        --modzraobis_procenti_60: 35%;
        --modzraobis_procenti_80: 45%;
        --zoma_700: 560px;
        --zoma_554: 443.2px;
        --zoma_500: 400px;
        --zoma_300: 240px;
        --zoma_200: 160px;
        --zoma_180: 144px;
        --zoma_120: 96px;
        --zoma_100: 80px;
        --zoma_70: 56px;
        --zoma_55: 44px;
        --zoma_50: 40px;
        --zoma_40: 32px;
        --zoma_35: 28px;
        --zoma_30: 24px;
        --zoma_20: 16px;
        --zoma_15: 12px;
        --zoma_10: 8px;
        --zoma_5: 4px;
        --zoma_1: 1px;
        --zoma_0: 0;
    }
}

@media only screen and (max-width: 767px) {
    :root {
        --zoma_700: 95vw;  
        --zoma_554: 90vw;    
        --zoma_500: 90%;     
        --zoma_320: 85%;
        --zoma_300: 80%;
        --zoma_200: 160px;
        --zoma_180: 140px;
        --zoma_120: 100px;
        --zoma_100: 80px;
        --zoma_70: 45px;
        --zoma_55: 35px;
        --zoma_50: 30px;
        --zoma_40: 25px;
        --zoma_35: 22px;
        --zoma_30: 18px;   
        --zoma_20: 16px;    
        --zoma_15: 12px;
        --zoma_10: 8px;
        --zoma_5: 4px;
        --zoma_1: 1px;
        --zoma_0: 0;
    }

    .burger-icon {
        display: flex;
        gap: var(--zoma_5);
        padding: var(--zoma_10);
    }

    nav {
        flex-direction: column !important;
        gap: var(--zoma_0) !important;
        height: auto;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
        max-height: var(--zoma_50);
    }

    nav.open {
        max-height: var(--zoma_500);
    }

    nav a {
        width: 100%;
        text-align: center;
        padding: var(--zoma_15) var(--zoma_0);
        border-bottom: var(--zoma_1) solid rgba(255, 255, 255, 0.1);
    }
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, html {
    margin: var(--zoma_0);
    padding: var(--zoma_0);
    overflow-x:visible;
    width: 100%;
    font-family: mtavruli;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.arrow {
    position: fixed;
    right: var(--zoma_30);
    bottom: var(--zoma_30);
    z-index: 9999;
    cursor: pointer;
    background: #ffa902;
    color: white;
    padding: var(--zoma_15);
    border-radius: 50%;
    border: black solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--zoma_50);
    height: var(--zoma_50);
}

/* 1. Header */

#webname {
    color: #ffffff;
    font-weight: 700;
    font-size: var(--zoma_35);
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imgs/img1.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding-top: var(--zoma_20);
    width: 100%;
}


#div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--zoma_50);
}

#searchbar {
    width: 100%;
    max-width: 554px;
    position: relative;
}

.suggestions-box {
    position: absolute;
    top: 98%;
    left: 2%;
    width: 96%;
    background: white;
    z-index: 10;
    border-radius: var(--zoma_0) var(--zoma_0) var(--zoma_15) var(--zoma_15);
    border: black var(--zoma_1) solid;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.suggestions-box div {
    background-color: #FFA902;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.suggestions-box div:hover {
    cursor: pointer;
    background-color: white;
    color: #FFA902;
}

#mainTitle {
    text-decoration: none;
}

#div2_1 {
    display: flex;
    flex-direction: row;
    gap: var(--zoma_10);
}

#div2_1 a {
    font-size: var(--zoma_30);
    color: white;
}

#div2_1 a:hover {
    transform: scale(1.5);
    cursor: pointer;
    transition: 0.3s;
    color: #FFA902;
}

#searchbar {
    border-radius: var(--zoma_20);
    width: 554px;
    height: var(--zoma_55);
    color: #9a9797;
    font-family: Poppins;
    font-weight: 100;
    border: none;
}

#searchbar:hover {
    cursor: pointer;
    background-color: #FFA902;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    gap: var(--zoma_100);
    align-items: center;
    justify-content: center;
    padding-top: var(--zoma_20); 
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: var(--zoma_20);
}

nav a:hover{
    cursor: pointer;
    color: #FFA902;
    transition: 0.3s;
    scale: 1.25;
}

.burger-icon {
    display: none;
    flex-direction: column;
    gap: var(--zoma_5);
    cursor: pointer;
    padding: var(--zoma_10);
}

.burger-icon span {
    width: var(--zoma_30);
    height: 3px;
    background-color: #ffa902;
    transition: 0.3s;
}

#div3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: var(--zoma_320);
    margin-top: var(--zoma_120);
    color: #ffffff;
}
/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#horizonDiv{
    display: flex;
    flex-direction: row;
}

#horizonDiv2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fetchapi {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #FFA902 var(--zoma_1) solid;
    border-width: 3px;
    border-radius: var(--zoma_20);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    padding: var(--zoma_20);
}

#fetchapi h3 {
    border: #FFA902 var(--zoma_1) solid;
    border-width: 2px;
    padding: var(--zoma_10);
    border-radius: var(--zoma_30);
    background-color: #FFA902;
    color: white;
}

#fetchapi h4 {
    border: #082d3d var(--zoma_1) solid;
    border-width: 2px;
    padding: var(--zoma_10);
    border-radius: var(--zoma_10);
    background-color: #135979;
    color: white;
}

#fetchapi p {
    padding: var(--zoma_10);
    border-radius: var(--zoma_100);
    color: white;
}

#fetchapi ul {
    padding-top: var(--zoma_20);
    background-color: #FFA902;
    width: 90%;
    border: var(--zoma_1) solid black;
    border-radius: var(--zoma_10);
    padding-bottom: var(--zoma_10);
}

#fetchapi li {
    padding-top: var(--zoma_20);
    color: white;
}

#fetchapi li:hover {
    scale: 1.25;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    left: var(--zoma_100);
    font-weight: bolder;
}

#regDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--zoma_500);
    padding: var(--zoma_50);
    margin: var(--zoma_40);
    border: #644303 var(--zoma_5) dotted;
    background-color: #FFA902;
    justify-content: center;
    height: var(--zoma_700);
}

#regDiv input {
    border-radius: var(--zoma_20);
}

#regDiv button {
    border-radius: var(--zoma_10);
    width: var(--zoma_100);
}

#regDiv button:hover {
    color: #ffffff;
    background-color: #644303;
    cursor: pointer;
}

.passwordDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--zoma_10);
}

#text-input {
    width: var(--zoma_400);
    min-height: var(--zoma_200);
}

.slider-container {
    position: relative;
    width: var(--zoma_400);
    margin: auto;
    overflow: hidden;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: var(--zoma_10);
}

.slider-track img {
    width: 100%;
    flex-shrink: 0;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 169, 2, 0.8);
    border: none;
    color: white;
    font-size: var(--zoma_20);
    cursor: pointer;
    padding: var(--zoma_10);
    border-radius: 50%;
}

.next-btn { 
    right: var(--zoma_10); 
}
.prev-btn { 
    left: var(--zoma_10); 
}

/* აკორდეონის ბლოკის სტილი */
.accor-block {
    position: relative;
    max-width: var(--zoma_554);
    width: 100%;
    border: 2px solid #FFA902;
    margin: var(--zoma_15) 0;
    padding: var(--zoma_15);
    cursor: pointer;
    transition: background-color 0.3s;
}

.accor-block:hover {
    background-color: rgba(255, 169, 2, 0.05);
}


.accor-title::after {
    content: '\2193';
    position: absolute;
    right: var(--zoma_20);
    top: var(--zoma_15);
    font-size: var(--zoma_20);
    transition: transform 0.3s ease;
}


.blog-accor {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: max-height 0.5s ease-out, padding 0.3s ease;
    opacity: 0;
}


.accor-block.activeAccor .blog-accor {
    max-height: var(--zoma_300); 
    opacity: 1;
    padding-top: var(--zoma_10);
}


.accor-block.activeAccor .accor-title::after {
    content: '\2191';
    color: #FFA902;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    background-color: #ffa902;
    padding: var(--zoma_30);
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-top: var(--zoma_70);
    width: 100%;
}

footer p {
    font-size: var(--zoma_20);
    font-weight: 500;
}

#div12 {
    display: flex;
    flex-direction: row;
    gap: var(--zoma_30);
}

#div12 a {
    text-decoration: none;
    color: white;
    font-size: var(--zoma_20);
    font-weight: 500;
}

#div12 img {
    height: var(--zoma_35);
    width: var(--zoma_180);
}